/* this file contains global styles and CSS variables / utility classes */


:root{

/* color scheme */

--col-prim-beaver :  rgb(158, 127, 102); 
--col-prim-codgray :  rgb(17, 17, 17); 

--col-sec-mirage : rgb(23, 25, 43); 
--col-sec-ebonyclay : rgb(36, 43, 55); 
--col-sec-shuttlegray : rgb(92, 103, 121); 

/* typography */

--font-family-main : League Spartan; 

/* font weights */

--font-prim-light : 300; 
--font-prim-regular : 400; 
--font-prim-semibold : 600; 
--font-prim-bold : 700; 


font-family: var(--font-family-main);
}


h1{
  font-weight: var(--font-prim-light);
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 0.1ch;
}

h2{
  font-weight: var(--font-prim-bold);
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.05ch;
}

h3{
  font-weight: var(--font-prim-bold);
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.025ch;
}

h4{
  font-weight: var(--font-prim-semibold);
  font-size: 17px;
  line-height: 28px;
  letter-spacing: 0.5ch;
  text-transform: uppercase;
}

/* following tags are used for body text */

p{
  font-weight: var(--font-prim-regular);
  font-size: 20px;
  line-height: 30px;
}

.paragraph-secondary{
  font-weight: var(--font-prim-regular);
  font-size: 16px;
  line-height: 26px;
}


/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
